.theme-icons {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  font-size: 0.75em;
  color: var(--text);
}

.toggle-button .toggle-slider svg {
  pointer-events: none;
}