@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-dark);
  color: var(--text);
}

#root, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

:root {
  --text: hsla(0, 0%, 90%, 1);
  --text-muted: hsla(0, 0%, 60%, 1);
  --bg-light: hsla(0, 0%, 20%, 1);
  --bg: hsla(0, 0%, 15%, 1);
  --bg-dark: hsla(0, 0%, 10%, 1);
  --accent: hsla(170, 66%, 46%, 1);

  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;

  --border-radius: 0.5rem;
  --input-height: 2.5rem;
  --message-bubble-radius: 0.75rem;
  
}

body {
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: var(--text);
}

p {
  margin-bottom: var(--spacing-m);
}

/* Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: var(--border-radius);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

button {
  font-family: 'Jaro';
  background-color: var(--accent);
  color: var(--text);
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: -2px;
  -webkit-text-stroke: 0.1px var(--bg-dark);
}

button:hover {
  opacity: 0.85;
}

a {
  color: var(--text);

}

input, textarea {
  background-color: var(--bg-light);
  color: var(--text);
  border: 1px solid var(--bg-dark);
  border-radius: var(--border-radius);
  padding: 0 var(--spacing-s);
  height: var(--input-height);
}